.header {
  background-color: rgb(101, 101, 101);
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  color: aliceblue;
  box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.5);
  z-index: 1500
}

.filler {
  visibility: hidden;
  height: 100px;
}

.title {
  color: rgb(199, 199, 199);
  cursor: pointer
}

.title:hover {
  transform: scale(1.05);
  color: white;
  transition-duration: 300ms;
}

.title:not(:hover) {
  transition-duration: 200ms;
}

.title:active {
  color: gray;
  transform: scale(0.95);
}

.button {
  padding: 0 15px;
  height: 40px;
  border: none;
  font-size: 17px;
  border-radius: 4px;
  background-color: rgba(27, 143, 120, 0);
  border: 1px solid rgb(64, 64, 64);
  color: rgb(158, 158, 158);
  cursor: pointer;
}

.width-fit-content {
  width: fit-content;
}

.button:hover {
  background-color: rgba(60, 167, 145, 0.2);
  border: 1px solid rgb(20, 153, 118);
  color: white;
  transform: translateY(-1px);
  transition-duration: 300ms;
}

.button:not(:hover) {
  transition-duration: 200ms;
}

.button:active {
  background-color: rgb(14, 70, 59);
  color: rgb(110, 110, 110);
}