.eventForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px auto;
  width: 65%;
}

.eventInput {
  margin-bottom: 10px;
}

.button {
  padding: 0 15px;
  height: 40px;
  border: none;
  font-size: 17px;
  border-radius: 4px;
  background-color: rgba(27, 143, 120, 0);
  border: 1px solid rgb(64, 64, 64);
  color: rgb(158, 158, 158);
  cursor: pointer;
}

.button:hover {
  background-color: rgba(60, 167, 145, 0.2);
  border: 1px solid rgb(20, 153, 118);
  color: white;
  transform: translateY(-1px);
  transition-duration: 300ms;
}

.button:not(:hover) {
  transition-duration: 200ms;
}

.button:active {
  background-color: rgb(14, 70, 59);
  color: rgb(110, 110, 110);
}