.product {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 20px;
  background: linear-gradient(9deg, rgba(4, 68, 69, 0.9112903225806451) 29%, rgba(9, 113, 121, 0.9086021505376344) 52%, rgba(0, 188, 255, 0.8790322580645161) 100%);
  margin: 50px 0;
}

.product:hover {
  box-shadow: 0 10px 25px -5px rgb(0, 0, 0);
  background: linear-gradient(12deg, rgba(4, 68, 69, 1) 29%, rgba(9, 113, 121, 1) 52%, rgba(0, 188, 255, 1) 100%);
  transform: translateY(-5px);
  transition-duration: 300ms;
}

.product:not(:hover) {
  transition-duration: 200ms;
}

.product:active {
  background-color: rgb(27, 143, 120);
  transform: scale(0.95);
  box-shadow: 0 10px 5px -5px rgb(0, 0, 0);
}